# Ignore everything, except...
*

# Modules
!package.json
!pnpm-lock.yaml

# UI files
!nuxt.config.js
!pages/
!assets/
!components/
!config/
!layouts/
!middleware/
!plugins/
!static/sound/
!static/banner.png
!static/favicon.ico
!static/icon.png

# Server files
!server/
!jobs/

!.npmrc
