# Ignore everything, except...
*

!resources/plannings/
!scripts/check-plannings-json.js

# Node files
!package.json
!package-lock.json

# Modules
!apps/web-app/package.json
!apps/web-app/package-lock.json
!apps/web-app/pnpm-lock.yaml
!apps/web-app/bun.lockb

# UI files
!apps/web-app/vuetify.options.js
!apps/web-app/nuxt.config.js
!apps/web-app/pages/
!apps/web-app/assets/
!apps/web-app/components/
!apps/web-app/config/
!apps/web-app/layouts/
!apps/web-app/middleware/
!apps/web-app/plugins/
!apps/web-app/static/sound/
!apps/web-app/static/banner.png
!apps/web-app/static/favicon.ico
!apps/web-app/static/icon.png

# Server files
!apps/web-app/server/
!apps/web-app/jobs/
