services:
  postgres:
    image: postgres:18
    container_name: planningsup_db
    environment:
      POSTGRES_USER: planningsup
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: planningsup
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - planningsup_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
    name: planningsup_pgdata

networks:
  planningsup_network:
    driver: bridge
    name: planningsup_network
